<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ENVision.ENVision" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
  <!--suppress UsesMinSdkAttributes-->
  <uses-sdk android:minSdkVersion="8" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <application android:label="ENVisionApp" android:allowBackup="true" android:name="md57083927853c166bbae82067aea698168.ENVisionApp" android:debuggable="true">
    <activity android:label="Manage Cost" android:name="md57083927853c166bbae82067aea698168.AddCostActivity" />
    <activity android:label="Manage Price" android:name="md57083927853c166bbae82067aea698168.AddPriceActivity" />
    <activity android:label="Add Products" android:name="md57083927853c166bbae82067aea698168.AddProductActivity" />
    <activity android:label="Manage Stock" android:name="md57083927853c166bbae82067aea698168.AddStockActivity" />
    <activity android:label="CompleteActivity" android:name="md57083927853c166bbae82067aea698168.CompleteActivity" />
    <activity android:label="Edit Cost" android:name="md57083927853c166bbae82067aea698168.EditSingleCostActivity" />
    <activity android:label="Edit Price" android:name="md57083927853c166bbae82067aea698168.EditSinglePriceActivity" />
    <activity android:label="Edit Stock" android:name="md57083927853c166bbae82067aea698168.EditSingleStockActivity" />
    <activity android:label="Saving Product" android:name="md57083927853c166bbae82067aea698168.LoadingActivity" />
    <activity android:label="Login" android:name="md57083927853c166bbae82067aea698168.LoginActivity" />
    <activity android:icon="@drawable/icon" android:label="ENVision" android:name="md57083927853c166bbae82067aea698168.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:label="Sales" android:name="md57083927853c166bbae82067aea698168.POSActivity" />
    <activity android:label="Sales Report" android:name="md57083927853c166bbae82067aea698168.ReportActivity" />
    <activity android:label="Select Quantity" android:name="md57083927853c166bbae82067aea698168.SelectStockPOSActivity" />
    <activity android:label="Weekly Reports" android:name="md57083927853c166bbae82067aea698168.WeeklyReportActivity" />
    <provider android:name="mono.MonoRuntimeProvider" android:exported="false" android:initOrder="2147483647" android:authorities="ENVision.ENVision.mono.MonoRuntimeProvider.__mono_init__" />
    <!--suppress ExportedReceiver-->
    <receiver android:name="mono.android.Seppuku">
      <intent-filter>
        <action android:name="mono.android.intent.action.SEPPUKU" />
        <category android:name="mono.android.intent.category.SEPPUKU.ENVision.ENVision" />
      </intent-filter>
    </receiver>
  </application>
</manifest>