<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
  <item android:id="@+id/menu_new_product"
        android:title="Add Product"
        android:showAsAction="always|withText"/>
  
  <item android:id="@+id/menu_set_costs"
        android:title="Set Costs"
        android:showAsAction="always|withText"/>

  <item android:id="@+id/menu_set_prices"
        android:title="Set Prices"
        android:showAsAction="always|withText"/>

  <item android:id="@+id/menu_set_stock"
        android:title="Set Stock"
        android:showAsAction="always|withText"/>

  <item android:id="@+id/menu_sell"
        android:title="Sell"
        android:showAsAction="always|withText"/>

  <item android:id="@+id/menu_wreport"
        android:title="Weekly Report"
        android:showAsAction="always|withText"/>
  
  <item android:id="@+id/menu_report"
        android:title="Sales Report"
        android:showAsAction="always|withText"/>
  
  <item android:id="@+id/menu_signout"
        android:title="Sign Out"
        android:showAsAction="always|withText"/>
</menu>